{% extends 'shortener_app/base.html' %}

{% block title %}Account registration{% endblock %}
{% block content %}

  <h2 class='hat_message'>User Registration</h2>

    <form class="form-row" method="post">
        {% csrf_token %}
        <div class="form-row">
            <input type="text" value='{{form.username.data}}' name="username" id="username" class="input-text" placeholder="username" maxlength="30" minlength="3" required>
        </div>
        {% if form.username.errors %}
            {% for error in form.username.errors%}
                <li>{{ error|escape }}</li>
            {%endfor%}
        {%endif%}
        <br>

        <div class="form-row">
            <input type="text" value='{{form.email.data}}' name="email" id="email" class="input-text" placeholder="email (optional)">
        </div>
        {% if form.email.errors %}
            {% for error in form.email.errors%}
                <li>{{ error|escape }}</li>
            {%endfor%}
        {%endif%}
        <br>

        <div class="form-row">
            <input type="password" value='' name="password" id="password" class="input-text" placeholder="password" maxlength="180" minlength="8" required >
        </div>
        {% if form.password.errors %}
            {% for error in form.password.errors%}
                <li>{{ error|escape }}</li>
            {%endfor%}
        {%endif%}
        <br>

        <div class="form-row">
            <input type="password" value='' name="re_password" id="re_password" class="input-text" placeholder="re_password" maxlength="180" minlength="8" required>
        </div>
        {% if form.re_password.errors %}
            {% for error in form.re_password.errors%}
                <li>{{ error|escape }}</li>
            {%endfor%}
        {%endif%}
        <br>

        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </form>

    <h3>Already have an  account? Please, login:</li>
    <br>
    <a href="{% url 'login' %}">login</a>

    <h3>Back to home:</li>
    <br>
    <a href="{% url 'home' %}">home</a>

{% endblock %}